* {
	margin: 0;
	padding: 0;
	font-family: 'Work Sans Medium', sans-serif;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body{
	line-height: 1.5;
}
.header{
	box-shadow: 0px 0px 2px 0px #959595;
	height: 80px;
	width: 100%;
	position: fixed;
    display: inline-block;
    z-index: 231;
    background: #fff;
}
.container{
	display:table;
}
.container{
	max-width: 1250px;
	width: 100%;
	padding-right: 15px;
	padding-left:15px;
	margin-left: auto;
	margin-right:auto;
}
.logo img{
    height: 80px;
    width: 110px;
}
.nav-area{
	float: right;
	list-style: none;
	margin-top: -55px;
	position: relative;
	padding-right: 15px;
}
.nav-area li {
	display: inline-table;
	margin-left: 0px;
	
}
.nav-area li a{
	color:rgb(255, 255, 255);
	text-decoration: none;
	padding: 12px 15px 12px 38px;
	margin-top: 20px;
	font-size: 16px;
	background: rgb(0,166,81);
	border-radius: 5px;
	text-transform: uppercase;
}
.nav-area li a:hover,.nav-area-user li a:hover{
	background: rgb(8, 110, 57);
	color:rgb(255, 255, 255);
}
li.fas.fa-sign-in-alt.login {
    position: relative;
    left: 35px;
	color :#fff;
}
.main{
	background-color: rgb(216, 215, 215);
}
.body{
    width: 100%;
    height: 100%;
}
.body ul{
    list-style: none;
    float: center;
    position: relative;
    border-radius: 10px;
    border-width: 50px;
    border-color: black;
}
.body li{
    border-radius: 10px;
    border-width: 50px;
    border-color: black;
}
.bg-row{
	/* display:inline-block; */
	width:100%;
	background:#ffff;
	padding: 85px 0px 5px 0px;
	float: left;
	box-shadow: 0px 7px 13px 0px #dedede;
	position: relative;
	text-align:center;
}
.bg-row ul li a{
	padding: 10px 20px !important;
    border: none !important;
    position: relative;
    border-radius: 0px;
    text-transform: uppercase;
	font-size: large;
	font-weight: bold;
    color: rgb(0,166,81) !important;
	text-decoration: none;
}
.text-center{
	text-align: center!important;
}
.bg-row ul{
	/* display: inline-block; */
	border:none;
}
.nav-tabs{
	border-bottom:1px solid #dee2e6;
}
.nav{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
	margin-left: 41%;
    margin-right: 44%;
}
ul{
	padding:0px;
	/* float:right; */
	/* display:inline-block; */
	margin:0px;
	list-style: none;
}

.grey-bg{
	display: flex;
	width: 100%;
	padding: 10px 0;
	float:left;
	background:rgb(238, 238, 238);
}
.contain-flex{
	display: flex;
}
.col-1{
	position:relative;
	width:25%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-2{
	position:relative;
	width:42%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-3{
	/* position: relative; */
	width:33%;
	/* min-height: 1px; */
	height: 400px!important;
	/* overflow-y: scroll; */
	padding-right: 15px;
	padding-left: 15px;
}
.sidebar{
	background: white;
	display: inline-block;
	position: fixed;
	width: 20.5%;
	padding:15px;
	border-radius: 4px;
	box-shadow: 0px 0px 5px 0px rgb(216, 216, 216);
}
.sidebar h3{
	position: relative;
    padding-bottom: 5px;
	border-bottom: 2px solid;
	border-color: rgb(0, 166, 81);
	border-spacing: 5px;
	margin-bottom: 10px;
}
.sidebar ul li a{
	text-decoration: none;
	font-size:15px;
	color: rgb(81,81,81);
	padding-left: 5px;
	font-family: 'Work Sans', sans-serif;
}
.sidebar ul li i{
	font-size: 11px;
	color: rgb(81,81,81)
}
/* Item-mid */
.item-mid ul li{
	background: white;
    display: inline-block;
    width: 100%;
    padding: 15px;
	margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgb(216 216 216); 
}
.upper{
	text-transform: uppercase;
}
.line{
	margin-bottom: 15px;
}
.item-mid h3{
	margin:15px 0;
	font-size: 20px;
}
.item-mid img{
	border:2px rgb(147, 147, 147) solid;
	width:65px;
	height:65px;
	position: absolute;
}
.beside-img{
	padding-left: 80px;
}
.item-mid ul li h4{
	font-size: 15px;
	margin-bottom: 5px;
	margin-top:	5px;
}
.price{
	/* margin-right: 100px; */
}
.add-item{
	border: none;
	float:right;
	cursor: pointer;
}
.add-item a{
	text-decoration: none;
	padding: 7px;
	border-radius: 4px;
	background: white;
	color: rgb(0,166,81);
	border: 1px rgb(0,166,81) solid;
}
.add-item i{
	border: none;
}

.add-item a:hover{
	color: rgb(255, 255, 255);
	border: 1px rgb(255, 255, 255) solid;
	background: rgb(0, 166, 81);
}
.add-item a:hover{
	color: rgb(255, 255, 255);
}
.w100{
	width:100%;
}
.d-tab{
	display: table!important;
}
.d-tab-c{
	vertical-align: middle;
	display: table!important;
	margin-bottom: 0px;
	margin-top:	0px;
}
/* Cart */
.cart{
	background: white;
	display: inline-block;
	/* margin-top: 50px; */
	position: relative;
	width: 100%;
	padding: 0px;
	border-radius: 4px;
	box-shadow: 0px 0px 5px 0px rgb(216 216 216);
}
.cart-top h3{
	border: none;
	background: rgb(0,166,81);
	font-size: 18px;
	color: white;
	position: fixed;
	width: 27.5%;
	border-radius: 4px;
	padding: 10px;
}
.cart-top h3 span.item{
	float: right;
}
table{
	display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
table{
	border-collapse: collapse;
}
.cart-body{
	display: inline-block;
	width: 27.5%;
	background: white;
	position: fixed;
	float: left;
	top: 175px;
}
.cart-body .table{
	margin-bottom: 0px;
}
.table{
	width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.cart-body .table thead tr th {
    border-bottom: none;
    background: #f5f5f5;
    padding: 7px 7px;
    font-size: 14px;
}
.text-right {
    text-align: right!important;
}
.text-center {
    text-align: center!important;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
    padding: 10px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
th {
    text-align: inherit;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.fas.fa-minus-circle{
	color:rgb(0, 166, 81);
}
.qty{
	width:60px;
	height:30px;
	border:1px solid;
	border-radius: 4px;
}
td input {
    width: 50px;
    height: 25px;
    padding: 5px;
    font-size: 15px;
    border: 1px solid rgb(0,166,81);
    border-radius: 4px;
    background: rgb(242 242 242);
}
.cart-footer{
	display: inline-block;
	position: fixed;
	width: 27.5%;
	top: 505px;
	float: left;
	border-top: 1px solid rgb(222, 226, 230);
	border-bottom: 1px solid rgb(222, 226, 230);
	padding: 14px 0;
	background: rgb(248, 248, 248);
}
.cart-footer table {
    width: 100%;
    margin-bottom: 0px;
}
.cart-footer table tr td {
    background: rgb(248, 248, 248);
	font-family: 'Work Sans', sans-serif;
    padding: 2px 15px;
    font-size: 15px;
    border: none;
}
td:last-child {
    text-align:right;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
.cart-footer table tr.green-cart{
    color: #00a651;
    font-weight: 600;
}
.cart-middle {
    height: 295px;
    top: 211px;
    position: fixed;
    width: 27.5%;
    overflow-y: scroll;
    background: white;
}
.checkout {
    display: inline-block;
    position: fixed;
    width: 27.5%;
    top: 561px;
    /* right: 97px; */
    /* height: 100%; */
    text-align: center;
    background: #fff;
    padding: 20px 30px;
}
.checkout button {
    width: 100%;
    padding: 12px 10px;
    font-size: 18px;
    text-transform: uppercase;
}
.btn{
	cursor: pointer;
}
.loader {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.btn-primary {
    color: #fff;
    background-color: rgb(0, 166, 81);
    border: none;
	border-radius: 4px;
}
.btn-primary:hover {
    background-color: rgb(5, 109, 55);
}

/* Footer */
.footer{
	background-color: rgb(215, 234, 239);
	color: rgb(23, 126, 73);
	width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    margin: auto;
}


