.profile-page{
    margin:0;
    padding: 0;
    font-family:'Work Sans Medium', sans-serif;
    background:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url("../images/Restaurant_background.jpg")no-repeat;
    background-size: cover;
	background-position: center center;
	position: relative;
}
.profile-page
{
    display: inline-block!important;
    width: 100%;
    padding: 40px 0!important;
    text-align: center;
    margin:auto;
    min-height: 100vh;
}


.wrapper{
    max-width:1000px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,.10);
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    height:700px;
    border-radius: 10px;
  
}
.input-box{
    
    border-radius: 10px;
    padding: 10px 50px;
    margin: 20px;
    border: 1px solid rgb(40, 105, 131);
    outline:none;
    text-align: left;

}
.btn{
    color: rgb(8 186 95);
    text-transform: uppercase;
    font-weight: bold;
    width: 35%;
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 16px;
    margin: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn:hover{
    color:rgb(255, 255, 255);
    background:grey;
}
#divleft{
    float: left!important;
}
#divright{
    float:right!important;
}
.wrapper label{
    font-style:normal;
    margin: 5px 20px;
    padding: 0;
    font-weight:lighter;
    color:seashell;
    float:left;
}
.wrapper input{
    margin-bottom: 20px;
}
.wrapper input{
    border:none;
    border-bottom:1px solid #ffffff;
    background-color:transparent;
    outline:none;
    color:whitesmoke;
    font-size: 16px;
}
.error{
    color:rgb(255, 0, 0);
    font-size: small;
    position: relative;
    top: -8px;
}
::placeholder{
    color:white;
    text-align: left;
}
.nav-item h4{
    color:#08ba5f;
}
.personal{
    color:#08ba5f;
    padding: 15px 0px;
    border-bottom: 1px solid white;
}
.Change-pass{
    text-align: left;
    padding: 0px 50px;
    width: 100%;
    margin: 10px 10px 50px 10px;
    color: white;
    float: left;
}
.Change-pass a{
    color:rgb(0,166,81);
}
.Change-pass a:hover{
    color:rgb(18, 107, 6);
}












